.main__listado {
  display: none;
}  
#nosotros{
  visibility: hidden;
}
@media (min-width: 576px) { 
  body {
  background: rgb(167, 129, 129);
  }
  #nosotros{
  visibility: visible;
  }
}
@media (min-width: 768px) {
   body {
   background: rgb(255, 243, 243);
  }
}
@media (min-width: 992px) {
  .main__listado {
  display: block;
  }
  .contenedor .main__contenido-noticias{
  grid-column: span 2;
  }
  .contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  margin: 20px auto;
  grid-template-columns: 68% 32%;
  grid-template-rows: repeat(4, auto);
  }
  body {
  background: rosybrown;
  }
}    