.main__listado {
  display: none;
}

#nosotros {
  visibility: hidden;
}

@media (min-width: 576px) {
  body {
    background: #a78181;
  }

  #nosotros {
    visibility: visible;
  }
}
@media (min-width: 768px) {
  body {
    background: #fff3f3;
  }
}
@media (min-width: 992px) {
  .main__listado {
    display: block;
  }

  .contenedor .main__contenido-noticias {
    grid-column: span 2;
  }

  .contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    margin: 20px auto;
    grid-template-columns: 68% 32%;
    grid-template-rows: repeat(4, auto);
  }

  body {
    background: rosybrown;
  }
}
body {
  font-family: monospace;
}

* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  text-align: center;
}

.menu {
  max-width: 1000px;
  padding: 10px;
  border-bottom: 1px solid gray;
  text-align: left;
  max-height: 7.3rem;
}

.menu__logo {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
}

.menu__navbar {
  display: inline-block;
  width: 100%;
  text-align: right;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.menu__input {
  border-radius: 30px;
}

.contenedor {
  max-width: 1000px;
  width: 100%;
  align-content: center;
  margin: 0 auto;
  display: inline-block;
  margin: 20px auto;
  background: white;
  min-width: 240px;
}

.main__contenido {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.main__listado {
  width: 30%;
  padding: 1.5rem;
  grid-column: 2/3;
  background: #f4effd;
}

.main__contenido-noticias {
  padding-top: 1rem;
  max-width: 100%;
  text-align: center;
}

.contenido-noticias__noticia {
  width: 13rem;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.contenido-noticias__noticia__cuerpo img {
  width: 100%;
  height: auto;
}

.contenido-noticias__noticia__cuerpo p {
  padding: 5px 10px;
}

.main__listado__cabecera {
  border-bottom: 1px solid gray;
}

.main__listado__tags {
  border-bottom: 1px solid gray;
}

.main__listado__tags ul {
  padding: 0;
  list-style: none;
}

.main__listado__tags ul li {
  padding: 2px 4px;
  background-color: steelblue;
  margin-right: 1px;
  color: white;
}

.main__listado__cabecera h1 {
  margin-top: 0px;
}

.main__listado__noticias-destacadas img {
  width: 220px;
  height: 200px;
}

.newsletter {
  max-width: 1000px;
  background: #eae0fc;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.newsletter h2 {
  font-size: 24px;
}

.contenedor .menu {
  background: #eae0fc;
  grid-column-start: 1;
  grid-column-end: -1;
}

.contenedor .main__contenido-noticias {
  grid-column: span 3;
}

.newsletter {
  grid-column-start: 1;
  grid-column-end: -1;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  grid-column: span 2;
}

.group input,
.group button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

.group button {
  background-color: coral;
  color: white;
}

/*# sourceMappingURL=main.css.map */
