  
.contenedor .menu{
    background:  rgb(234, 224, 252);
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .main__contenido-noticias{
    grid-column: span 3;
}
.newsletter {
    grid-column-start: 1;
    grid-column-end: -1;
}


